<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title><%- nome_site %> </title>
<meta name="description" content="Um site para divulgar e encontrar grupos de WhatsApp!">
<meta name="author" content="Gabriel Samá">

<link rel="stylesheet" href="/css/base.css">
<link rel="stylesheet" href="/css/vendor.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<script src="/js/modernizr.js"></script>
<script src="/js/pace.min.js"></script>
<link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
<link rel="icon" href="/favicon.png" type="image/x-icon">

</head>

<body id="top">

<header id="header" class="row">
<div class="header-logo">
<a href="/"><%- nome_site %></a>
</div>
<nav id="header-nav-wrap">
<ul class="header-main-nav">
<li><a href="/">Voltar para o início</a></li>
<li><a href="/add-group">Adicionar Grupo</a></li>
<li><a href="https://wa.me/5521989047220">Conversar com o criador</a></li>
</ul>
</nav>
</header>

<section id="home" data-parallax="scroll">
<div class="overlay"></div>
<div class="home-content">
<div class="row contents"> 
<div class="home-content-left">
<h3>403</h3>
<h3>
404 Página não encontrada!
</h3>
<div class="buttons">
<a href="https://api.whatsapp.com/send/?phone=5521989047220&text=Oi%20Gabriel%20Samá&app_absent=0" class="button stroke" target="__blank">
Criador
</a>
</div> 
</div>
</div>
</div> 
</section> 

<footer>
<div class="footer-bottom">
<div class="row">
<div class="col-twelve">
<div class="copyright">
<span><a href="https://github.com/GabrielSama">2024 Gabriel Samá | Todos os direitos reservados</a></span>		 	
</div>
<div id="go-top">
<a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up"></i></a>
</div> 
</div>
</div> 	
</div>
</footer>

<div id="preloader"> 
<div id="loader"></div>
</div>
<script src="/js/jquery-2.1.3.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
</body>
</html>